@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');

* {
    font-family: 'Encoded Sans Expanded', sans-serif;

    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}